In [19]:
import pandas as pd

url = "https://raw.githubusercontent.com/Samanosukeh/Analise-descritiva-de-dados-titanic/master/titanic.csv"

In [20]:
sea = pd.read_csv(url)

In [21]:
sea.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [13]:
listaletras = ["A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L"]

In [16]:
dicti = {key:value for key, value in zip(sea.columns, listaletras)}
dicti

{'PassengerId': 'A',
 'Survived': 'B',
 'Pclass': 'C',
 'Name': 'D',
 'Sex': 'E',
 'Age': 'F',
 'SibSp': 'G',
 'Parch': 'H',
 'Ticket': 'I',
 'Fare': 'J',
 'Cabin': 'K',
 'Embarked': 'L'}

In [23]:
# https://stackoverflow.com/questions/33218719/replace-non-null-values-in-column-by-1
def sustituir(df, diccionario):
    for col in df.columns:
        df.loc[df[col].notnull(), col] = diccionario[col]
    return df

In [24]:
sustituir(sea, dicti)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,A,B,C,D,E,F,G,H,I,J,NaN,L
1,A,B,C,D,E,F,G,H,I,J,K,L
2,A,B,C,D,E,F,G,H,I,J,NaN,L
3,A,B,C,D,E,F,G,H,I,J,K,L
4,A,B,C,D,E,F,G,H,I,J,NaN,L
...,...,...,...,...,...,...,...,...,...,...,...,...
886,A,B,C,D,E,F,G,H,I,J,NaN,L
887,A,B,C,D,E,F,G,H,I,J,K,L
888,A,B,C,D,E,NaN,G,H,I,J,NaN,L
889,A,B,C,D,E,F,G,H,I,J,K,L
890,A,B,C,D,E,F,G,H,I,J,NaN,L